In [ ]:
# TODO: the following 5 functions for CRUD(create, read,update,delete) operations that work with sqlite database called chinook.db

# def create_connection(dbpath):
#   # can add verbose parameter that prints sqlite version used
#   return conn
# def create_artist(conn, artist_name):
   # use parametrized query !
#   # do not have to return anything but can use try: inside this function
# def read_artists(conn):  # can add some extra parameters to limit
#   return artists  # can return a list of tuples, or you can create a list of artist objects if you want
# def update_artist(id, new_name):
# def delete_artist(id=None, name=""):
#    # provide deletion by id AND/OR name


# test it by adding you name to artists table smile

# you can use .ipynb or .py file

In [1]:
import sqlite3
conn = sqlite3.connect('chinook.db')
cur = conn.cursor()

In [3]:
#def __repr__(self):
        #return f"{self.first_name} {self.last_name} {self.email} {self.country}"

def create_connection(dbpath):
        conn = sqlite3.connect('chinook.db')
        cur = conn.cursor()
# # can add verbose parameter that prints sqlite version used
        return conn
create_connection('chinook.db')

In [ ]:
def create_artist(conn, artist_name):
   conn = 
   # use parametrized query !
#   # do not have to return anything but can use try: inside this function
create_artist(conn, John Lennon)

In [ ]:
def read_artists(conn):  # can add some extra parameters to limit
#   return artists  # can return a list of tuples, or you can create a list of artist objects if you want

In [ ]:
def update_artist(id, new_name):

In [ ]:
def delete_artist(id=None, name=""):
#    # provide deletion by id AND/OR name

Classwork

In [2]:
import sqlite3
import pandas as pd

In [3]:
con = sqlite3.connect('chinook.db')
print(con)

<sqlite3.Connection object at 0x00000270EFC20E40>

In [4]:
df = pd.read_sql_query("select * from tracks", con)
df.head()

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99

In [5]:
rock_df = pd.read_sql_query("select * from v_rock_songs", con)
rock_df.head()

,TrackName,AlbumTitle,ArtistName,Genre,MediaType,time_ms,seconds,minutes,UnitPrice
0,Dazed And Confused,The Song Remains The Same (Disc 1),Led Zeppelin,Rock,MPEG audio file,1612329,1612,26,0.99
1,Space Truckin',The Final Concerts (Disc 2),Deep Purple,Rock,MPEG audio file,1196094,1196,19,0.99
2,Dazed And Confused,BBC Sessions [Disc 2] [Live],Led Zeppelin,Rock,MPEG audio file,1116734,1116,18,0.99
3,We've Got To Get Together/Jingo,Santana Live,Santana,Rock,MPEG audio file,1070027,1070,17,0.99
4,Funky Piano,Santana Live,Santana,Rock,MPEG audio file,934791,934,15,0.99

In [7]:
rock_df.info()
rock_df[rock_df['minutes'] > 5].tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TrackName   1297 non-null   object
 1   AlbumTitle  1297 non-null   object
 2   ArtistName  1297 non-null   object
 3   Genre       1297 non-null   object
 4   MediaType   1297 non-null   object
 5   time_ms     1297 non-null   int64
 6   seconds     1297 non-null   int64
 7   minutes     1297 non-null   int64
 8   UnitPrice   1297 non-null   float64
dtypes: float64(1), int64(3), object(5)
memory usage: 91.3+ KB

,TrackName,AlbumTitle,ArtistName,Genre,MediaType,time_ms,seconds,minutes,UnitPrice
186,Sin,Core,Stone Temple Pilots,Rock,MPEG audio file,364800,364,6,0.99
187,Black Sabbath,Speak of the Devil,Ozzy Osbourne,Rock,Protected AAC audio file,364180,364,6,0.99
188,How Many Say I,Van Halen III,Van Halen,Rock,MPEG audio file,363937,363,6,0.99
189,No Sign of Yesterday,The Best Of Men At Work,Men At Work,Rock,MPEG audio file,362004,362,6,0.99
190,Hands All Over,A-Sides,Soundgarden,Rock,MPEG audio file,362475,362,6,0.99

In [8]:
cur = con.cursor() 
print(cur)

<sqlite3.Cursor object at 0x00000270EFD56940>

In [9]:
cur.execute("select name from sqlite_master where type = 'table'")
table_list = cur.fetchall() 
table_list

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',),
 ('results',),
 ('managers',)]

In [10]:
view_list = cur.execute("select name from sqlite_master where type = 'view'").fetchall()
view_list

[('v_top_playlist',),
 ('v_tracks',),
 ('v_long_songs',),
 ('v_full_tracks',),
 ('v_full_tracks_2',),
 ('v_rock_songs',)]

In [11]:
result = cur.execute("select * from genres")
for row in result: 
    print(row)
result = cur.execute("select * from genres")
result.fetchmany(5)

(1, 'Rock')
(2, 'Jazz')
(3, 'Metal')
(4, 'Alternative & Punk')
(5, 'Rock And Roll')
(6, 'Blues')
(7, 'Latin')
(8, 'Reggae')
(9, 'Pop')
(10, 'Soundtrack')
(11, 'Bossa Nova')
(12, 'Easy Listening')
(13, 'Heavy Metal')
(14, 'R&B/Soul')
(15, 'Electronica/Dance')
(16, 'World')
(17, 'Hip Hop/Rap')
(18, 'Science Fiction')
(19, 'TV Shows')
(20, 'Sci Fi & Fantasy')
(21, 'Drama')
(22, 'Comedy')
(23, 'Alternative')
(24, 'Classical')
(25, 'Opera')

[(1, 'Rock'),
 (2, 'Jazz'),
 (3, 'Metal'),
 (4, 'Alternative & Punk'),
 (5, 'Rock And Roll')]